@charset "utf-8";
/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body,html,figure,figcaption{
	font:12px "微软雅黑","宋体",Arial;}
	
a{text-decoration:none;}


i,em {
	font-style:normal;
}

h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:200;
}
ol,ul{
	list-style:none;
}
img{
	vertical-align:top;
}
input{
	outline:none;
}

.clearfix{
	*zoom:1;
}
.clearfix:after{
	content:" ";
	height:0;
	width:100%;
	display:block;
	overflow:hidden;
	clear:both;
}
.clearfix::before{
	content:" ";
	height:0;
	width:100%;
	display:block;
	overflow:hidden;
	clear:both;
}
	
       	

